page-Askuser {
  .body {
    background-color: #66d9ff;
    font-family: sans-serif, monospace, Arial;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
  }
  .h1{
    font-family: sans-serif, monospace, Arial;
    color: #ffffff;
    text-align: center;
  }
  .d1{
    background-color: #ffffff;
    color: #bfbfbf;
    display: block;
      margin-left: auto;
      margin-right: auto;
  }
}
