page-OpeningPage {
  .body {
    background-color: #66d9ff;
    font-family: sans-serif, monospace, Arial;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
  }
  .header{
    background-color: #66d9ff;
    font-family: sans-serif, monospace, Arial;
    color: #ffffff;
    font-size: 50px;
  }

  .b1 {
    color: #bfbfbf;
  	background-color: #ffffff;
  	font-family: arial, sans-serif, monospace ;
  	height: 75px;
    	width: 75px;
    	border-radius: 100%;
    	border: 1px #ffffff;

  }

  .b2 {
  color: #bfbfbf;
  background-color: #ffffff;
  font-family: arial, sans-serif, monospace ;
  height: 75px;
    width: 75px;
    border-radius: 100%;
    border: 1px #ffffff;
  }
}
