page-Informationpage {
  .body {
  	font-family: Arial ;
  	color: #bfbfbf;
  	background-color: #66d9ff;
  }
  .everything {
    text-align:center;
  }
  .h2 {
  	font-family: Arial, sans-serif, monospace ;
  	color: #ffffff ;
    }
  .c1 {
  	color: #bfbfbf;
  	background-color: #ffffff;
  	font-family: arial, sans-serif, monospace ;
    font-size: 20px;
  	height: 100px;
    	width: 100px;
    	border-radius: 100%;
    	border: 1px #ffffff; }
  .c2 {
  	color: #bfbfbf;
  	background-color: #ffffff;
    font-family: arial, sans-serif, monospace ;
    font-size: 20px;
    height: 100px;
    	width: 100px;
    	border-radius: 100%;
    	border: 1px #ffffff; }
  .c3 {
  	color: #bfbfbf;
  	background-color: #ffffff;
    font-family: arial, sans-serif, monospace ;
    font-size: 20px;
    height: 100px;
    	width: 100px;
   	border-radius: 100%;
   	border: 1px #ffffff; }
  .c4 {
  	color: #bfbfbf;
  	background-color: #ffffff;
    font-family: arial, sans-serif, monospace ;
    font-size: 20px;
    height: 100px;
    	width: 100px;
    	border-radius: 100%;
    	border: 1px #ffffff;}
  .c5 {
  	color: #bfbfbf;
  	background-color: #ffffff;
    font-family: arial, sans-serif, monospace ;
    font-size: 20px;
    height: 100px;
    	width: 100px;
    	border-radius: 100%;
    	border: 1px #ffffff;}
}
