page-Artist {
  .body {
    background-color: #66d9ff;
    font-family: sans-serif, monospace, Arial;
    font-weight: bold;
    color: #ffffff;
  }
  .everything{
    text-align: center;
  }
  .d1{
    background-color: #ffffff;
    color: #bfbfbf;
    display: block;
      margin-left: auto;
      margin-right: auto;
  }
.artist{
  font-size: 50px;
  }
}
