page-visited {
.body{
  background-color: #66d9ff;
  font-family: sans-serif, monospace, Arial;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}
.h1{
  font-family: sans-serif, monospace, Arial;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
}
.a1 {
  background-color: #ffffff;
  color: #bfbfbf;
  font-family: sans-serif, monospace, Arial;
  height: 20px;
  width: 70px;
  align-items: center;
}
.a2 {
  background-color: #ffffff;
  color: #bfbfbf;
  font-family: sans-serif, monospace, Arial;
  height: 20px;
  width: 70px;
  align-items:center;
}
.a3 {
  text-align: left;
}
}
